-- CreateTable
CREATE TABLE "roles" (
    "id" SERIAL NOT NULL,
    "code" VARCHAR(30) NOT NULL,
    "nom" VARCHAR(100) NOT NULL,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "utilisateurs" (
    "id" SERIAL NOT NULL,
    "nom" VARCHAR(100) NOT NULL,
    "email" VARCHAR(150) NOT NULL,
    "mot_de_passe_hash" VARCHAR(255) NOT NULL,
    "role_id" INTEGER NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "utilisateurs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "entreprise" (
    "id" SERIAL NOT NULL,
    "raison_sociale" VARCHAR(150) NOT NULL,
    "adresse" TEXT,
    "code_postal" VARCHAR(20),
    "ville" VARCHAR(100),
    "telephone" VARCHAR(50),
    "email" VARCHAR(150),
    "ice" VARCHAR(50),
    "identifiant_fiscal" VARCHAR(50),
    "rc" VARCHAR(50),
    "patente" VARCHAR(50),
    "logo_url" VARCHAR(255),
    "compte_bancaire" VARCHAR(100),
    "devise" VARCHAR(20) NOT NULL DEFAULT 'MAD',
    "format_date" VARCHAR(20) NOT NULL DEFAULT 'DD/MM/YYYY',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "entreprise_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parametre_types" (
    "id" SERIAL NOT NULL,
    "code" VARCHAR(50) NOT NULL,
    "nom" VARCHAR(100) NOT NULL,

    CONSTRAINT "parametre_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parametres" (
    "id" SERIAL NOT NULL,
    "type_id" INTEGER NOT NULL,
    "code" VARCHAR(100) NOT NULL,
    "libelle" VARCHAR(150) NOT NULL,
    "valeur_num" DECIMAL(10,2),
    "ordre_affichage" INTEGER,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "parametres_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clients" (
    "id" SERIAL NOT NULL,
    "type_client_id" INTEGER,
    "raison_sociale" VARCHAR(150) NOT NULL,
    "adresse" TEXT,
    "code_postal" VARCHAR(20),
    "telephone" VARCHAR(50),
    "ville" VARCHAR(100),
    "ice" VARCHAR(50),
    "email" VARCHAR(150),
    "echeance_jours" INTEGER,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fournisseurs" (
    "id" SERIAL NOT NULL,
    "type_fournisseur_id" INTEGER,
    "raison_sociale" VARCHAR(150) NOT NULL,
    "adresse" TEXT,
    "code_postal" VARCHAR(20),
    "telephone" VARCHAR(50),
    "ville" VARCHAR(100),
    "ice" VARCHAR(50),
    "email" VARCHAR(150),
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "fournisseurs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produits" (
    "id" SERIAL NOT NULL,
    "type_produit_id" INTEGER,
    "reference" VARCHAR(100) NOT NULL,
    "description" VARCHAR(255) NOT NULL,
    "unite_id" INTEGER,
    "fournisseur_id" INTEGER,
    "taux_tva_id" INTEGER,
    "dernier_prix_achat_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "dernier_prix_achat_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "prix_vente_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "prix_vente_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "marge_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "stock_actuel" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "produits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prix_produits" (
    "id" SERIAL NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "date_achat" DATE NOT NULL,
    "prix_achat_ht" DECIMAL(14,2) NOT NULL,
    "prix_achat_ttc" DECIMAL(14,2) NOT NULL,
    "prix_vente_ht" DECIMAL(14,2) NOT NULL,
    "prix_vente_ttc" DECIMAL(14,2) NOT NULL,
    "marge_ht" DECIMAL(14,2) NOT NULL,
    "taux_tva_id" INTEGER,
    "fournisseur_id" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "prix_produits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "factures" (
    "id" SERIAL NOT NULL,
    "annee" INTEGER NOT NULL,
    "numero_sequence" INTEGER NOT NULL,
    "numero_facture" VARCHAR(30) NOT NULL,
    "client_id" INTEGER NOT NULL,
    "date_facture" DATE NOT NULL,
    "statut" VARCHAR(30) NOT NULL DEFAULT 'brouillon',
    "total_lignes" INTEGER NOT NULL DEFAULT 0,
    "total_articles" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_tva" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_achat_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "marge_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "impression_statut" VARCHAR(30),
    "a_un_avoir" BOOLEAN NOT NULL DEFAULT false,
    "cree_par" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "factures_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facture_lignes" (
    "id" SERIAL NOT NULL,
    "facture_id" INTEGER NOT NULL,
    "ordre_ligne" INTEGER NOT NULL,
    "produit_id" INTEGER,
    "designation" VARCHAR(255) NOT NULL,
    "quantite" DECIMAL(14,2) NOT NULL,
    "prix_achat_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "prix_unitaire_ht" DECIMAL(14,2) NOT NULL,
    "remise_pourcentage" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_remise_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "taux_tva" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_ht" DECIMAL(14,2) NOT NULL,
    "montant_tva" DECIMAL(14,2) NOT NULL,
    "montant_ttc" DECIMAL(14,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "facture_lignes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "paiements" (
    "id" SERIAL NOT NULL,
    "facture_id" INTEGER NOT NULL,
    "date_paiement" DATE,
    "mode_reglement_id" INTEGER,
    "numero_piece" VARCHAR(100),
    "remarque" VARCHAR(255),
    "justificatif_url" VARCHAR(255),
    "montant_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "montant_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "paiements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "charges" (
    "id" SERIAL NOT NULL,
    "date_charge" DATE NOT NULL,
    "numero_facture" VARCHAR(100),
    "emetteur" VARCHAR(150) NOT NULL,
    "type_charge_id" INTEGER NOT NULL,
    "montant_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "taux_tva" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_tva" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "montant_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "fournisseur_id" INTEGER,
    "remarque" VARCHAR(255),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "charges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "avoirs" (
    "id" SERIAL NOT NULL,
    "annee" INTEGER NOT NULL,
    "numero_sequence" INTEGER NOT NULL,
    "numero_avoir" VARCHAR(30) NOT NULL,
    "facture_id" INTEGER NOT NULL,
    "client_id" INTEGER NOT NULL,
    "date_avoir" DATE NOT NULL,
    "total_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_tva" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "statut" VARCHAR(30) NOT NULL DEFAULT 'valide',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "avoirs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "avoir_lignes" (
    "id" SERIAL NOT NULL,
    "avoir_id" INTEGER NOT NULL,
    "produit_id" INTEGER,
    "designation" VARCHAR(255) NOT NULL,
    "quantite" DECIMAL(14,2) NOT NULL,
    "prix_unitaire_ht" DECIMAL(14,2) NOT NULL,
    "remise_pourcentage" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_ht" DECIMAL(14,2) NOT NULL,
    "taux_tva" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_tva" DECIMAL(14,2) NOT NULL,
    "montant_ttc" DECIMAL(14,2) NOT NULL,

    CONSTRAINT "avoir_lignes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "devis" (
    "id" SERIAL NOT NULL,
    "annee" INTEGER NOT NULL,
    "numero_sequence" INTEGER NOT NULL,
    "numero_devis" VARCHAR(30) NOT NULL,
    "client_id" INTEGER NOT NULL,
    "date_devis" DATE NOT NULL,
    "date_validite" DATE,
    "statut" VARCHAR(30) NOT NULL DEFAULT 'brouillon',
    "total_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_tva" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "total_ttc" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "remarque" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "devis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "devis_lignes" (
    "id" SERIAL NOT NULL,
    "devis_id" INTEGER NOT NULL,
    "ordre_ligne" INTEGER NOT NULL,
    "produit_id" INTEGER,
    "designation" VARCHAR(255) NOT NULL,
    "quantite" DECIMAL(14,2) NOT NULL,
    "prix_unitaire_ht" DECIMAL(14,2) NOT NULL,
    "remise_pourcentage" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_remise_ht" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "taux_tva" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_ht" DECIMAL(14,2) NOT NULL,
    "montant_tva" DECIMAL(14,2) NOT NULL,
    "montant_ttc" DECIMAL(14,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "devis_lignes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journal_audit" (
    "id" SERIAL NOT NULL,
    "utilisateur_id" INTEGER,
    "module" VARCHAR(50) NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "entite_id" INTEGER,
    "details" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "journal_audit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "documents_importes" (
    "id" SERIAL NOT NULL,
    "fournisseur_id" INTEGER NOT NULL,
    "nom_fichier_original" VARCHAR(255) NOT NULL,
    "nom_fichier_stocke" VARCHAR(255) NOT NULL,
    "chemin_fichier" VARCHAR(500) NOT NULL,
    "type_mime" VARCHAR(100) NOT NULL,
    "taille_fichier" INTEGER NOT NULL,
    "texte_ocr" TEXT,
    "statut" VARCHAR(30) NOT NULL DEFAULT 'brouillon',
    "date_import" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date_mise_a_jour" TIMESTAMP(3) NOT NULL,
    "utilisateur_id" INTEGER,
    "donnees_extraites" JSONB,

    CONSTRAINT "documents_importes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lignes_importees" (
    "id" SERIAL NOT NULL,
    "document_importe_id" INTEGER NOT NULL,
    "designation" VARCHAR(255) NOT NULL,
    "quantite" DECIMAL(14,2) NOT NULL,
    "prix_unitaire" DECIMAL(14,2) NOT NULL,
    "taux_tva" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "montant_total" DECIMAL(14,2) NOT NULL,
    "reference_detectee" VARCHAR(100),
    "produit_id" INTEGER,
    "statut" VARCHAR(30) NOT NULL DEFAULT 'active',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "lignes_importees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssociationArticleFournisseur" (
    "id" SERIAL NOT NULL,
    "fournisseurId" INTEGER NOT NULL,
    "produitId" INTEGER,
    "referenceDetectee" TEXT,
    "referenceNormalisee" TEXT,
    "designationDetectee" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AssociationArticleFournisseur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "integrations_stock" (
    "id" SERIAL NOT NULL,
    "document_importe_id" INTEGER NOT NULL,
    "utilisateur_id" INTEGER,
    "date_integration" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "integrations_stock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mouvements_stock" (
    "id" SERIAL NOT NULL,
    "integration_stock_id" INTEGER NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "ligne_importee_id" INTEGER,
    "type" VARCHAR(30) NOT NULL DEFAULT 'entree_fournisseur',
    "quantite" DECIMAL(14,2) NOT NULL,
    "stock_avant" DECIMAL(14,2) NOT NULL,
    "stock_apres" DECIMAL(14,2) NOT NULL,
    "date_mouvement" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mouvements_stock_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "roles_code_key" ON "roles"("code");

-- CreateIndex
CREATE UNIQUE INDEX "utilisateurs_email_key" ON "utilisateurs"("email");

-- CreateIndex
CREATE UNIQUE INDEX "parametre_types_code_key" ON "parametre_types"("code");

-- CreateIndex
CREATE INDEX "clients_raison_sociale_idx" ON "clients"("raison_sociale");

-- CreateIndex
CREATE INDEX "clients_telephone_idx" ON "clients"("telephone");

-- CreateIndex
CREATE INDEX "clients_ville_idx" ON "clients"("ville");

-- CreateIndex
CREATE INDEX "fournisseurs_raison_sociale_idx" ON "fournisseurs"("raison_sociale");

-- CreateIndex
CREATE INDEX "fournisseurs_telephone_idx" ON "fournisseurs"("telephone");

-- CreateIndex
CREATE INDEX "produits_reference_idx" ON "produits"("reference");

-- CreateIndex
CREATE INDEX "produits_description_idx" ON "produits"("description");

-- CreateIndex
CREATE INDEX "prix_produits_produit_id_idx" ON "prix_produits"("produit_id");

-- CreateIndex
CREATE UNIQUE INDEX "factures_numero_facture_key" ON "factures"("numero_facture");

-- CreateIndex
CREATE INDEX "factures_client_id_idx" ON "factures"("client_id");

-- CreateIndex
CREATE INDEX "factures_date_facture_idx" ON "factures"("date_facture");

-- CreateIndex
CREATE UNIQUE INDEX "factures_annee_numero_sequence_key" ON "factures"("annee", "numero_sequence");

-- CreateIndex
CREATE INDEX "facture_lignes_facture_id_idx" ON "facture_lignes"("facture_id");

-- CreateIndex
CREATE UNIQUE INDEX "paiements_facture_id_key" ON "paiements"("facture_id");

-- CreateIndex
CREATE INDEX "paiements_date_paiement_idx" ON "paiements"("date_paiement");

-- CreateIndex
CREATE INDEX "charges_date_charge_idx" ON "charges"("date_charge");

-- CreateIndex
CREATE INDEX "charges_type_charge_id_idx" ON "charges"("type_charge_id");

-- CreateIndex
CREATE UNIQUE INDEX "avoirs_numero_avoir_key" ON "avoirs"("numero_avoir");

-- CreateIndex
CREATE UNIQUE INDEX "devis_numero_devis_key" ON "devis"("numero_devis");

-- CreateIndex
CREATE INDEX "devis_client_id_idx" ON "devis"("client_id");

-- CreateIndex
CREATE UNIQUE INDEX "devis_annee_numero_sequence_key" ON "devis"("annee", "numero_sequence");

-- CreateIndex
CREATE INDEX "devis_lignes_devis_id_idx" ON "devis_lignes"("devis_id");

-- CreateIndex
CREATE INDEX "documents_importes_fournisseur_id_idx" ON "documents_importes"("fournisseur_id");

-- CreateIndex
CREATE INDEX "documents_importes_statut_idx" ON "documents_importes"("statut");

-- CreateIndex
CREATE INDEX "documents_importes_date_import_idx" ON "documents_importes"("date_import");

-- CreateIndex
CREATE INDEX "lignes_importees_document_importe_id_idx" ON "lignes_importees"("document_importe_id");

-- CreateIndex
CREATE INDEX "AssociationArticleFournisseur_fournisseurId_idx" ON "AssociationArticleFournisseur"("fournisseurId");

-- CreateIndex
CREATE INDEX "AssociationArticleFournisseur_produitId_idx" ON "AssociationArticleFournisseur"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "AssociationArticleFournisseur_fournisseurId_referenceNormal_key" ON "AssociationArticleFournisseur"("fournisseurId", "referenceNormalisee");

-- CreateIndex
CREATE UNIQUE INDEX "integrations_stock_document_importe_id_key" ON "integrations_stock"("document_importe_id");

-- CreateIndex
CREATE INDEX "integrations_stock_date_integration_idx" ON "integrations_stock"("date_integration");

-- CreateIndex
CREATE INDEX "integrations_stock_utilisateur_id_idx" ON "integrations_stock"("utilisateur_id");

-- CreateIndex
CREATE UNIQUE INDEX "mouvements_stock_ligne_importee_id_key" ON "mouvements_stock"("ligne_importee_id");

-- CreateIndex
CREATE INDEX "mouvements_stock_integration_stock_id_idx" ON "mouvements_stock"("integration_stock_id");

-- CreateIndex
CREATE INDEX "mouvements_stock_produit_id_idx" ON "mouvements_stock"("produit_id");

-- CreateIndex
CREATE INDEX "mouvements_stock_date_mouvement_idx" ON "mouvements_stock"("date_mouvement");

-- AddForeignKey
ALTER TABLE "utilisateurs" ADD CONSTRAINT "utilisateurs_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "parametres" ADD CONSTRAINT "parametres_type_id_fkey" FOREIGN KEY ("type_id") REFERENCES "parametre_types"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_type_client_id_fkey" FOREIGN KEY ("type_client_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fournisseurs" ADD CONSTRAINT "fournisseurs_type_fournisseur_id_fkey" FOREIGN KEY ("type_fournisseur_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produits" ADD CONSTRAINT "produits_type_produit_id_fkey" FOREIGN KEY ("type_produit_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produits" ADD CONSTRAINT "produits_unite_id_fkey" FOREIGN KEY ("unite_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produits" ADD CONSTRAINT "produits_taux_tva_id_fkey" FOREIGN KEY ("taux_tva_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produits" ADD CONSTRAINT "produits_fournisseur_id_fkey" FOREIGN KEY ("fournisseur_id") REFERENCES "fournisseurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prix_produits" ADD CONSTRAINT "prix_produits_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prix_produits" ADD CONSTRAINT "prix_produits_taux_tva_id_fkey" FOREIGN KEY ("taux_tva_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prix_produits" ADD CONSTRAINT "prix_produits_fournisseur_id_fkey" FOREIGN KEY ("fournisseur_id") REFERENCES "fournisseurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "factures" ADD CONSTRAINT "factures_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "factures" ADD CONSTRAINT "factures_cree_par_fkey" FOREIGN KEY ("cree_par") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facture_lignes" ADD CONSTRAINT "facture_lignes_facture_id_fkey" FOREIGN KEY ("facture_id") REFERENCES "factures"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facture_lignes" ADD CONSTRAINT "facture_lignes_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "paiements" ADD CONSTRAINT "paiements_facture_id_fkey" FOREIGN KEY ("facture_id") REFERENCES "factures"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "paiements" ADD CONSTRAINT "paiements_mode_reglement_id_fkey" FOREIGN KEY ("mode_reglement_id") REFERENCES "parametres"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "charges" ADD CONSTRAINT "charges_type_charge_id_fkey" FOREIGN KEY ("type_charge_id") REFERENCES "parametres"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "charges" ADD CONSTRAINT "charges_fournisseur_id_fkey" FOREIGN KEY ("fournisseur_id") REFERENCES "fournisseurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avoirs" ADD CONSTRAINT "avoirs_facture_id_fkey" FOREIGN KEY ("facture_id") REFERENCES "factures"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avoirs" ADD CONSTRAINT "avoirs_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avoir_lignes" ADD CONSTRAINT "avoir_lignes_avoir_id_fkey" FOREIGN KEY ("avoir_id") REFERENCES "avoirs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avoir_lignes" ADD CONSTRAINT "avoir_lignes_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "devis" ADD CONSTRAINT "devis_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "devis_lignes" ADD CONSTRAINT "devis_lignes_devis_id_fkey" FOREIGN KEY ("devis_id") REFERENCES "devis"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "devis_lignes" ADD CONSTRAINT "devis_lignes_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journal_audit" ADD CONSTRAINT "journal_audit_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents_importes" ADD CONSTRAINT "documents_importes_fournisseur_id_fkey" FOREIGN KEY ("fournisseur_id") REFERENCES "fournisseurs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents_importes" ADD CONSTRAINT "documents_importes_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_importees" ADD CONSTRAINT "lignes_importees_document_importe_id_fkey" FOREIGN KEY ("document_importe_id") REFERENCES "documents_importes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_importees" ADD CONSTRAINT "lignes_importees_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssociationArticleFournisseur" ADD CONSTRAINT "AssociationArticleFournisseur_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "fournisseurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssociationArticleFournisseur" ADD CONSTRAINT "AssociationArticleFournisseur_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "produits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "integrations_stock" ADD CONSTRAINT "integrations_stock_document_importe_id_fkey" FOREIGN KEY ("document_importe_id") REFERENCES "documents_importes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "integrations_stock" ADD CONSTRAINT "integrations_stock_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_stock" ADD CONSTRAINT "mouvements_stock_integration_stock_id_fkey" FOREIGN KEY ("integration_stock_id") REFERENCES "integrations_stock"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_stock" ADD CONSTRAINT "mouvements_stock_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_stock" ADD CONSTRAINT "mouvements_stock_ligne_importee_id_fkey" FOREIGN KEY ("ligne_importee_id") REFERENCES "lignes_importees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

